.wrapper {
  padding: 0 18px;
}

.h1 {
  font-size: 36px;
  color: #fff;
  margin: 0;
  padding-top: 24px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  color: #FF9F0A;
  font-size: 20px;
  font-weight: 400;
}

.new {}